<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
  <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
  <label th:for="name">Enter name: </label>
  <input type="text" th:field="*{name}"> id="name"/>
  <div style="color: brown" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
  <br/>
  <label th:for="age">Enter age: </label>
  <input type="text" th:field="*{age}"> id="age"/>
  <div style="color: brown" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
  <br/>
  <label th:for="email">Enter email: </label>
  <input type="text" th:field="*{email}"> id="email"/>
  <div style="color: brown" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
  <br/>
  <input type="submit" value="Edit!"/>

</form>

</body>
</html>